---
layout: default
---
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@username" />
<meta name="twitter:creator" content="@username" />
<meta property="og:title" content="Web ページのタイトル" />
<meta property="og:description" content="Web ページの概要文" />
<meta property="og:url" content="http://example.com/article/post01.html" />
<meta property="og:image" content="http://example.com/images/article/post01.png" />
<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}

  </div>

</article>
