---
layout: default
---
<!-- * Twitter カード用 設定 ここから * -->
<meta name="twitter:card" content="表示したいTwitterカードの種類" />
<meta name="twitter:title" content="そのページのタイトル" />
<meta name="twitter:description" content="そのページの概要・説明文" />
<meta name="twitter:image" content="そのページのアイキャッチ画像のURL" />
<meta name="twitter:url" content="そのページのURL" />
<meta name="twitter:site" content="サイトのTwitterアカウント" />
<meta name="twitter:creator" content="そのページの執筆者のTwitterアカウント" />
<!-- * Twitter カード用 設定 ここまで * -->

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
<br>
  <a href="{{ site.baseurl }}/">:point_left:</a>

  {% include disqus.html %}
</article>
