{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  {{ if $page.Title }}
  <div class="col-xs-12 col-md-4 section-heading">
    <h4 class="home-h4">{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h4>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ $page.Content }}
    <!-- <b>International Conferences</b>
    <ul style="margin-left: -25px;list-style-type: decimal;">
      <li><p>Shohei Katakura，Keita Watanabe. ProtoHole: Prototyping Interactive 3D Printed Objects Using Holes and Acoustic Sensing. CHI 2018, December 2017</p></li>
    </ul> -->
    <b>Domestic Conferences</b>
    <ul style="margin-left: -25px;list-style-type: decimal;">
      <li><p>片倉翔平，渡邊恵太. ProtoHole: 穴と音響センシングを用いたインタラクティブな３Dプリントオブジェクトの提案. WISS2017(デモ・ポスター発表), December 2017</p></li>
    </ul>
  </div>
  {{ else }}
  <div class="col-md-12">
    {{ $page.Content }}
  </div>
  {{ end }}
</div>
